{% extends 'base.html' %}
{% block content %}


<link rel="stylesheet" href='/static/nav.css' />
<link rel="stylesheet" href='/static/appointment.css' />
<body>
    <h1>Appointment</h1>

    <div class="container">
        <form method="POST">
            <p>Make an appointment with us to see available cars in person.</p>
        
            
            <div class="field">
                <label for="id1">Location</label>
                <div class="input-field">
                    <select id="location_ID" name="location_ID">
                        {% if locations %}
                            {% for local in locations %}
                        <option value="{{local['location_ID']}}">{{local['location_name']}}</option>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="field">
                <label for="id2">Appointment Date</label>
                <div class="input-field">
                    <input type="date" id="appointment_date" name="appointment_date"></input>
                </div>
            </div>

            <div class="field">
                <label for="id3">Time</label>
                <div class="input-field">
                    <input type="time" id="appointment_time" name="appointment_time"></input>
                </div>
            </div>

            <div class="row">
                <label for="id4">Request</label>
                <div class="input-field">
                    <textarea type="text" id="appointment_request" name="appointment_request" rows="4" cols="50"></textarea>
                </div>
            </div>
            
            <button type="Submit">Submit</button>
        </form>
    </div>
</body>
{% endblock %}