{% include 'nav.html' %}
{% block content %}

<link rel="stylesheet" href='/static/car.css' />
<!-- Row title -->
<main class="row title">
  <ul>
    <li>Type</li>
    <li>Brand</li>
    <li>Condition</li>
    <li>Capacity</li>
    <li>Location</li>
  </ul>
</main>

<!-- Row 1 - fadeIn -->
<!-- Row 2 - fadeOut -->
{% if cars %}
        {% for car in cars %}
          <article class="row nfl">
            <ul>
              <li><a href="#">{{car['vehicle_type']}}</a>
              <li>{{ car['vehicle_brand']}}</li>
              <li>{{ car['vehicle_condition']}}</li>
              <li>{{ car['vehicle_passenger']}}</li>
              <li>{{ car['location_ID']}}</li>
            </ul>
            <ul class="more-content">
              <li>Milage: {{car['vehicle_milage']}}, Color: {{ car['vehicle_color']}}, Gear Type: {{car['vehicle_gear_type']}}, for more information click on {{car['vehicle_type']}}</li>
            </ul>
          </article>
        {% endfor %}
    {% else %}
        <div class="displya-3">No Cars</div>
    {% endif %}
{% endblock %}