{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href='/static/car.css' />

<h1>Available Vehicle</h1>
{% if cars %}
    {% for car in cars %}
    <div class="card {{car['vehicle_type']}}">
        <div class="additional">
          <div class="user-card">
            <div class="level center">
              {{ car['vehicle_type']}}
            </div>
            <div class="points center" >
              Milage: {{ car['vehicle_milage'] }}
            </div>
    
          </div>
          <div class="more-info">
            <h2>{{ car['vehicle_brand']}}</h2>
            <h2>{{ car['vehicle_model']}}</h2>
            <div class="coords">
              <span>Condition: {{car['vehicle_condition']}}</span>
            </div>
            <div class="coords">
              <span>Fuel: {{ car['vehicle_gasoline_type']}} </span>
            </div>
            <div class="coords">
                <span>Gear: {{ car['vehicle_gear_type']}}</span>
              </div>
            <div class="stats">
              <div>
                <div class="title">Seats</div>
                <i class="fa fa-trophy"></i>
                <div class="value">{{ car['vehicle_passenger']}}</div>
              </div>
              <div>
                <div class="title">Price</div>
                <i class="fa fa-group"></i>
                <div class="value">{{ car['vehicle_price_per_day']}} </div>
              </div>
              <div>
                <a href="/reservation/{{ car['vehicle_ID'] }}" type="button" class="btn button text-light" id="">Info</a>
              </div>
            </div>
          </div>
        </div>
        <div class="general">
          <h2>{{ car['vehicle_brand']}}</h2>
            <p>
                Dis a car
            </p>
          <span class="more">Mouse over the card for more info</span>
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% endif %}
{% endblock %}
