<!DOCTYPE html>
<html>
<head>
    <title>Edit Customer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Edit Customer</h1>
    <form method="POST" action="/admin/edit_customer/{{ customer.customer_ID }}">
        <!-- Add input fields with pre-filled values for customer details -->
        <label for="customer_firstname">First Name:</label>
        <input type="text" id="customer_firstname" name="customer_firstname" value="{{ customer.customer_firstname }}" required>

        <!-- Add more input fields with pre-filled values for other customer details -->

        <input type="submit" value="Update Customer">
    </form>
</body>
</html>
