{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href='/static/location.css' />
<body>
  <h1>Airports</h1>
  <div class="container">
    <div class="card card0">
      <div class="border">
        <h2><a href="{{url_for('suvarnhabumi')}}" class="text-light" style="text-decoration:none">Suvarnabhumi</a></h2>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card card1">
      <div class="border">
        <h2><a href="{{url_for('chiangmai')}}" class="text-light" style="text-decoration:none"> Chiang Mai International</a></h2>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card card2">
      <div class="border">
        <h2><a href="{{url_for('phuket')}}" class="text-light" style="text-decoration:none">Phuket International</a></h2>
        <div class="icons">
          <i class="fa fa-codepen" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}