{% block content %}
<link rel="stylesheet" href='/static/nav.css' />

    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
    <nav class="nav">     
      <ul class="pt-5">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('vehicle') }}">Vehicle</a></li>
        <li><a href="{{ url_for('location') }}">Locations</a></li>
        <li><a href="{{ url_for('reservation') }}">Reservations</a></li>
        <li><a href="{{ url_for('login')}}">sign in</a></li>
        <li><a href="{{ url_for('register')}}">sign up</a></li>
        <li><a href="{{ url_for('logout')}}">log out</a></li>

      </ul>
    </nav>
  

{% endblock %}