<div class="toggle">
  <a><i class="fa fa-bars"></i></a>
</div>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" id="topnav">
      <a class="navbar-brand" href="{{ url_for('index') }}">Car Rental</a>
      <button class="navbar-toggler bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-dark" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reservation') }}">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('location') }}">Locations</a>
          </li>
          <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vehicles
          </a>
            <ul class="dropdown-menu post" >
              <li><a class="dropdown-item" href="{{ url_for('car') }}">Cars</a></li>
              <li><a class="dropdown-item" href="{{ url_for('suv') }}">SUVs</a></li>
              <li><a class="dropdown-item" href="{{ url_for('truck') }}">Trucks</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>