{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href='/static/car.css' />
<link rel="stylesheet" href='/static/nav.css' />
<h1> Appointments</h1>

<table>
  <thead><tr>
      <th>Location</th>
      <th>Date</th>
      <th>Time</th>
      <th>Request</th>

    </tr><thead>
  <tbody>
    {% if appointments %}
      {% for appointment in appointment %}
    <tr>
      <td>{{appointment['location_ID']}}</td>
      <td>{{appointment['appointment_date']}}</td>
      <td>{{appointment['appointment_time']}}</td>
      <td>{{appointment['appointment_request']}}</td>

    </tr>
  </tbody>
  {% endfor %}
          {% else %}
              <div class="displya-3">No appointments</div>
          {% endif %}
<table/>

{% endblock %}


<!-- Row 1 - fadeIn -->
<!-- Row 2 - fadeOut -->