{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href='/static/register.css' />
<div class="container">
    <form method="POST">
      <div class="row">
        <h4>Account</h4>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="First Name" id="customer_firstname" name="customer_firstname"/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group input-group-icon">
            <input type="text" placeholder="Last Name" id="customer_lastname" name="customer_lastname"/>
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="email" placeholder="Email" id="customer_email" name="customer_email"/>
            <div class="input-icon"><i class="fa fa-envelope"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="text" placeholder="Address"id="customer_address" name="customer_address"/>
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="text" placeholder="Phone number" id="customer_phone_number" name="customer_phone_number"/>
            <div class="input-icon"><i class="fa fa-credit-card"></i></div>
          </div>
          <div class="input-group input-group-icon">
            <input type="text" placeholder="Identification Number" id="customer_identification_number" name="customer_identification_number"/>
            <div class="input-icon"><i class="fa fa-key"></i></div>
          </div>
          <div class="input-group input-group-icon">
          <input type="text" placeholder="Passport Number" id="customer_passport" name="customer_passport"/>
          <div class="input-icon"><i class="fa fa-key"></i></div>
          <div class="input-group input-group-icon">
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-half">
          <h4>Date of Birth</h4>
          <div>
            <div>
              <input type="date" id="customer_dob" name="customer_dob"
               value="2001-05-26"
               min="1950-01-01" max="2005-12-31">
            </div>
          </div>
        </div>
        <div class="col-half">
          <h4>Gender</h4>
          <div class="input-group">
            <input id="gender-male" type="radio" value="male" id="customer_gender" name="customer_gender"/>
            <label for="gender-male">Male</label>
            <input id="gender-female" type="radio" value="female" id="customer_gender" name="customer_gender"/>
            <label for="gender-female">Female</label>
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Payment Details</h4>
        <div class="input-group">
          <input id="customer_payment_type" type="radio" name="customer_payment_type" value="1" checked="true"/>
          <label for="customer_payment_type"><span><i class="fa fa-cc-visa"></i>Credit Card</span></label>
          <input id="customer_payment_type" type="radio" name="customer_payment_type" value="2" />
          <label for="customer_payment_type"> <span><i class="fa fa-cc-paypal"></i>Paypal</span></label>
        </div>
        <div class="input-group input-group-icon">
          <input type="text" placeholder="Card Number" id="customer_payment_card_number" name="customer_payment_card_number"/>
          <div class="input-icon"><i class="fa fa-credit-card"></i></div>
        </div>
        <div class="col-half">
          <div class="input-group input-group-icon">
            <input type="text" placeholder="Card CVC" id="customer_payment_card_cvc" name="customer_payment_card_cvc"/>
            <div class="input-icon"><i class="fa fa-user"></i></div>
          </div>
        </div>
        <div class="col-half">
            <div>
              <input type="date" id="customer_payment_card_expiry_date" name="customer_payment_card_expiry_date"
               value="2015-05-26"
               min="2015-01-01" max="2027-12-31">
            </div>
        
      </div>
      <div class="row">
        <h4>Terms and Conditions</h4>
        <div class="input-group">
          <input id="terms" type="checkbox"/>
          <label for="terms">I accept the terms and conditions and hereby confirm I have not read the privacy policy because who does, really?.</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  {% endblock %}