{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href='/static/reservation.css' />
<h1>Reservations</h1>

<table>
  <thead><tr>
      <th>Type</th>  
      <th>Brand</th>
      <th>Model</th>
      <th>Condition</th>
      <th>Seats</th>
      <th>Milage</th>
      <th>Color</th>
      <th>Gasoline Type</th>
      <th>License Plate</th>
      <th>Vehicle Insured</th>
      <th>Insurance Expiry Date</th>
      <th>Gear Type</th>
      <th>Price/Day</th>
      <th>Maintenance</th>

    </tr><thead>
  <tbody>
    {% if cars %}
      {% for car in cars %}
    <tr>
      <td>{{car['vehicle_type']}}</td>
      <td>{{car['vehicle_brand']}}</td>
      <td>{{car['vehicle_model']}}</td>
      <td>{{car['vehicle_condition']}}</td>
      <td>{{car['vehicle_passenger']}}</td>
      <td>{{car['vehicle_milage']}}</td>
      <td>{{car['vehicle_color']}}</td>
      <td>{{car['vehicle_gasoline_type']}}</td>
      <td>{{car['vehicle_license_plate']}}</td>
      <td>{{car['vehicle_insured']}}</td>
      <td>{{car['vehicle_insurance_expiry']}}</td>
      <td>{{car['vehicle_gear_type']}}</td>
      <td>{{car['vehicle_price_per_day']}}</td>
      <td><a href="/maintenance/{{ car['vehicle_ID'] }}" type="button" class="btn btn-info" id="">History</a></td>
    </tr>
  </tbody>
  {% endfor %}
          {% else %}
          <tbody>
            <tr>
              <td>There is nothing here</td>
            </tr>
          </tbody>
          {% endif %}
<table/>



{% endblock %}


<!-- Row 1 - fadeIn -->
<!-- Row 2 - fadeOut -->