{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href='/static/car.css' />
<link rel="stylesheet" href='/static/nav.css' />
<h1> Sedan Available</h1>
<!-- Row title -->
{% if cars %}
        {% for car in cars %}
<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a href="#" class="ag-courses-item_link">
        <div class="ag-courses-item_bg">
        </div>
        <div class="ag-courses-item_title">
          {{car['vehicle_brand']}}
          {{car['vehicle_model']}}
        </div>
        <ul>
          <li><span class="ag-courses-item_date"> Seats : {{ car['vehicle_passenger']}}</span></li>
          <li><span class="ag-courses-item_date"> Condition : {{ car['vehicle_condition']}}</span></li>
          <li><span class="ag-courses-item_date"> Milage : {{ car['vehicle_milage']}}</span></li>
          <li><span class="ag-courses-item_date"> Gear Type : {{ car['vehicle_gear_type']}}</span></li>
          <li><span class="ag-courses-item_date"> Colour : {{ car['vehicle_color']}}</span></li>
      </ul>
      </a>
    </div>

  </div>
</div>

{% endfor %}
    {% else %}
        <div class="displya-3">No Cars</div>
    {% endif %}
{% endblock %}
<!-- Row 1 - fadeIn -->
<!-- Row 2 - fadeOut -->